.barra-years {
  width: 220px;
  padding: 1rem;
  background-color: #0f0f0f;
  color: white;
}

.barra-years h3 {
  margin-bottom: 12px;
}

.barra-years ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.barra-years li {
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.barra-years li:hover {
  background: #222;
}

.barra-years li.activo {
  background: #444;
}


@media (max-width: 768px) {
  .barra-years {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
  }

  .barra-years h3 {
    display: none;
  }

  .barra-years ul {
    display: flex;
    gap: 10px;
  }

  .barra-years li {
    white-space: nowrap;
    background: #222;
  }
}
