.card {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  border-radius: 12px;
}

.card img,
.card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.card:hover {
  transform: scale(1.02);
}

.card h4 {
  margin-top: 6px;
  font-size: 14px;
  text-align: center;
}
